header {
    background-color: darkgrey;
}

section {
    background-color: lightgrey;
}

li {
    background-color: rgb(112, 25, 51);
    display: inline;
    padding: 10px;
    
}

a {
    color: cornsilk;
    font-weight: bolder;
    text-decoration: none;
}