{% extends 'facturacion/facturalia_Base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <title>Facturalia</title>
        <meta charset="utf-8">
    </head>  
    <body>
    {% block titulo %}
    <h3>CONTACTOS</h3>
    {% endblock%}
    {% block contenido %}
    <p>Listado de contactos</p>
    <form action="" method="POST">
        {% csrf_token %}
        {{formulario}}
        <input type="submit" value="Consultar">
    </form>
    <table>
        <tr>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Empresa</th>
            <th>Calle</th>
            <th>ciudad</th>
            <th>Provincia</th>
            <th>pais</th>
            <th>Cod.Post</th>
        </tr>
        
        {% for renglon in lista %}
        {% if not renglon.empleado %}
        <tr>
            <td>{{renglon.apellido}}</td>
            <td>{{renglon.nombre}}</td>
            <td>{{renglon.empresa}}</td>
            <td>{{renglon.direccion}}</td>
            <td>{{renglon.ciudad}}</td>
            <td>{{renglon.provincia}}</td>
            <td>{{renglon.pais}}</td>
            <td>{{renglon.codpost}}</td>

        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% endblock%}
    
    </body>

</html>
